@page
@model Inlämningsuppgift1.Pages.JoinEventModel

@{
    ViewData["Title"] = Model.Event.description;
}

<h1>@Model.Event.description</h1>

<div class="join">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.spots_available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.spots_available)
        </dd>
    </dl>
</div>

<form method="post">
    <input type="submit" value=" JOIN " onclick="return confirm('You successfully joined this event.')" class="btn-primary" />
</form>

<div>
    <a asp-page="./Events">Back to List</a>
</div>
