@page
@model Inlämningsuppgift1.Pages.MyEventsModel

@{
    ViewData["Title"] = "My Events";
}

<h1>My Events</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                What
            </th>
            <th>
                Where
            </th>
            <th>
                Adress
            </th>
            <th>
                Date
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Attendee.events) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                <a asp-page="./Events" asp-route-id="@item.eventID">Back to List</a>

            </td>
        </tr>
}
    </tbody>
</table>
